html {
scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
.bg-geo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url(images/background.jpg);
    opacity: .09;
    background-size: cover;
}
#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1e293b; 
    color: white;
    text-align: center;
    border-radius: 20px;
    overflow: hidden; 
    margin: 20px;
    height: 85vh;
    background-color: #1e293b;
    color: white;
}
.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.445);
}
.console-hero {
    background-color: #0f172a;
    color: #00ff88;
    font-family: 'Courier New', monospace;
    padding: 20px;
    border-radius: 8px;
    /*box-shadow: 0 0 15px rgba(0, 255, 136, 0.3);*/
    width: 90%;
    height: 280px;
    margin-top: 20px;
    font-size: 1rem;
    max-width: 90%;
    white-space: pre-wrap;
}
#console-output::after {
    content: "_";
    animation: blink 1s infinite;
}
@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
}
.navbar {
    position: fixed;
    top: 20px;
    right: 40px;
    flex-wrap: wrap;
    max-width: 100%;
    display: flex;
    gap: 20px
}
.navbar-title {
    position: fixed;
    bottom: -20px;
}
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.6); /* translucent black */
    backdrop-filter: blur(10px);    /* smooth blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    z-index: 1000;
    padding: 10px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: #ffffff;
    animation: bounce 1.5s infinite;
    cursor: pointer;
    opacity: 0.7;
}
@keyframes bounce {
    0%, 100%
    { transform: translateX(-50%) translateY(0); }
    50% 
    { transform: translateX(-50%) translateY(10px); }
}
body {
    background-color: #2c3b63;
    color: #DBE4EE;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 10px;
    padding-top: 80px;
    line-height: 2;
}
h1 {
    color: #F5F6FA;
    text-align: center;
}
h2 {
    color: #F5F6FA;
    text-align: center;
}
h3 {
    color: #F5F6FA;
    text-align: center;
}
h4 {
    color: #F5F6FA;
    text-align: center;
}
p {
    color: #F5F6FA;
    text-align: center;
}
a {
    color: #F5F6FA;
    text-decoration: none;
}
a:hover {
    color: #F5F6FA;
    text-decoration: underline;
}
#introduction {
    padding-top: 90px;
    margin-top: 80px
}
.instaframe {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}
.instaframe iframe {
    border: none;
    border-radius: 12px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.6);
    width: 60%;
    max-width: 800px; 
    height: 600px;
}
.instaframe iframe:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}
.spinner {
    position: absolute;
    z-index:10;
    width: 50px;
    height: 50px;
    border: 6px solid #4e5d94;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    margin-top: 200px;
    margin-bottom: 100px;
    
}
#projects h2 {
    margin-bottom: 20px;
}
.projects-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    backdrop-filter: blur(10px);
}
.projects-list li {
    background: rgba(255,255,255,0.05);
    margin-bottom: 24px;
    padding: 18px 16px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.1em;
    border-radius: 12px;
}
.projects-list a {
    display: inline-block;
    margin-top: 8px;
}
.project-image {
    width: 50%;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
#pyth {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
#pyth:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    background-color: #3b4774;
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
}
#schoo {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
#schoo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    background-color: #3b4774;
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
}
#otra {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
#otra:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    background-color: #3b4774;
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
}
#other {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
#other:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    background-color: #3b4774;
    transform: scale(1.03);
    transition: all 0.2s ease-in-out;
}
#email {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #F5F6FA;
}
#linkedin {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #F5F6FA;
}